body {
  background-color: wheat;
}
.jumbotron {
  height: 90vh; 
  background-image: url("../images/alexis-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.my-h4 {
  color: purple;
}
h1 {
  text-align: center;
  margin-right: 25px;

}
.iam {
  margin-top: 30px;
  font-family: 'Dynalight', cursive;
  text-align-last: center;
  margin-left: 20%;
  font-size: 28px;
  font-style: italic;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 3px purple;
}
h3 {
  margin: 16px 0;
  font-family: 'Dynalight', cursive;
  font-size: 40px;
  font-weight: bold;

}
h5 {
  margin-left: 18%;
  font-weight: bold;
  font-size: 18px;
  text-decoration: underline;
  color: purple;
}
.welcome { 
  margin-top: 10px;
  color: white;
  font-size: 3.5rem;
  text-shadow: 2px 2px 3px rgba(128, 0, 128, 0.767);
  font-style: italic;
  /* font-family: "Playfair Display", Georgia, "Times New Roman", serif; */
  font-family: 'Libre Baskerville', serif;
}
.name {
  color: rgba(128, 0, 128, 0.767);
  font-weight: bold;
  font-size: 45px;
  text-shadow: 2px 2px 3px white;
  font-style: normal;
  font-family: 'Noto Serif', serif;

}

.sub-title {
  font-size: 28px;
font-weight: 600;
text-align-last: center;
margin-left: 30%;
color: rgb(113, 253, 239);
text-shadow: 1px 1px 3px purple;
padding-top: -5px;
}
.about-section {
  padding: 20px;
  max-width: 1120px;
}
.about-me {
  text-shadow: 2px 2px 3px rgb(226, 136, 226);
}
.knowledge {
  text-shadow: 2px 2px 3px rgb(226, 136, 226);
}
.paragraph {
  padding: 20px;
  font-family: 'Buenard', serif;
  font-weight: 600;
}
#doughnutChart {
  margin-top: 30px;
}
.portfolio-container {
  padding: 0 0 60px;
  max-width: 1120px;
  }
.portfolio-title {
  text-shadow: 1px 1px 2px purple;
  font-family: 'Dynalight', cursive;
  background-color: rgba(156, 39, 176, 0.7);
  color: white;
  text-align: center;
  font-style: normal;
  padding: 20px;
}
.port-card {
  padding: 20px 30px;
}
.port-card:hover {
  color: rgba(156, 39, 176, 0.7);
  opacity: 0.7;

}
.img-fluid {
  width: 100%;
  height: 235px;
}
.card-body {
  padding-top: 0;
}
label {
  font-weight: 500;
  font-family: 'Buenard', serif;

}
.contact-title {
  text-shadow: 1px 1px 2px purple;
  margin-top: 0;
  color: white;
  text-align: center;
  font-style: normal;
  padding: 20px;
  margin-right: -15px;
  margin-left: -15px;
   
}

.form-control {
  color: black;
}
.copywrite {
  background-color: #9e9e9e;
}
.copyright {
  font-size: 16px;
  margin-left: 0;
  font-family: 'Buenard', serif;

}
.container-contact {
  max-width: 1120px;
  margin-top: 30px;
  margin-bottom: 30px;

}
/* ICONS */
.icons {
  text-align: center;
  margin: -40px 0 10px;
}
.icon-title {
  font-family: 'Dynalight', cursive;
  text-shadow: 1px 1px 2px purple;
  color: white;
  text-align: center;
  font-style: normal;
  padding: 20px;
}
.links {
  padding: 10px 5px 10px; 
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}
.fa-github {
  color: black;
}
.fa-linkedin {
  color: rgb(39, 197, 181);
}
.fa-instagram {
  color: purple;
}
.fa-envelope {
  color: purple;
}
li {
  list-style-type: none;
  font-family: 'Buenard', serif;

}
/* @media (max-width: 740px) { 
  html,
  body,
  header,
  .jarallax {
    height: 100vh;
  }
}*/

 /* @media (min-width: 800px) and (max-width: 850px) { 
  .jumbotron {
    height: 100vh;
  }
}*/

@media (min-width: 560px) and (max-width: 660px) {
  header .jumbotron h5 {
    display: none !important;
  }
  .img-fluid {
    /* height: auto; */
    max-height: 100%;
    max-width: 100%;
  }
  .intro-info-content {
    margin-top: 30%;
    margin-right: 10%;
  }
}




