body {
  background-color: wheat;
}
.jumbotron {
  height: 90vh; 
  background-image: url("../images/alexis-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.my-h4 {
  color: purple;
}
h1 {
  text-align: end;
  margin-right: 25px;
}
.iam {
  margin-top: 30px;
  font-family: 'boulevardregular';
  text-align-last: center;
  margin-left: 30%;
  font-size: 22px;
  font-style: italic;
  font-weight: 500;
}
h3 {
  margin: 16px 0;
}
.welcome { 
  margin-top: 10px;
  color: white;
  font-size: 3.5rem;
  text-shadow: 2px 2px 3px rgba(128, 0, 128, 0.767);
  font-style: italic;
  /* font-family: "Playfair Display", Georgia, "Times New Roman", serif; */
  font-family: 'wonderlandregular' ;
}
.name {
  color: rgba(128, 0, 128, 0.767);
  font-weight: bold;
  font-size: 45px;
  text-shadow: 2px 2px 3px white;
  font-style: normal;

}

.sub-title {
font-weight: 600;
text-align-last: center;
margin-left: 50%;
color: rgb(39, 197, 181);
padding-top: -5px;
}
.about-section {
  padding: 20px;
  max-width: 1120px;
}
.paragraph {
  padding: 20px;
  font-family: 'Buenard', serif;
}
#doughnutChart {
  margin-top: 30px;
}
.portfolio-container {
  padding: 0 0 60px;
  margin-bottom: 60px;
  max-width: 1120px;
  }
.portfolio-title {
  background-color: rgba(156, 39, 176, 0.7);
  color: white;
  text-align: center;
  font-style: normal;
  padding: 20px;
}
.port-card {
  padding: 20px 30px;
}
.port-card:hover {
  color: rgba(156, 39, 176, 0.7);
  opacity: 0.7;

}
.card-body {
  padding-top: 0;
}
.page-footer {

}
.copywrite {
  background-color: #9e9e9e;
}
/* ICONS */
.icons {
  text-align: center;
  
}
.fa {
  padding: 20px 20px 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
.fa:hover {
  opacity: 0.7;
}
.fa-github {
  color: black;
}
.fa-linkedin {
  color: rgb(39, 197, 181);
}
.fa-instagram {
  color: purple;
}
/* @media (max-width: 740px) { 
  html,
  body,
  header,
  .jarallax {
    height: 100vh;
  }
}*/

 /* @media (min-width: 800px) and (max-width: 850px) { 
  .jumbotron {
    height: 100vh;
  }
}*/

@media (min-width: 560px) and (max-width: 660px) {
  header .jumbotron h5 {
    display: none !important;
  }
}




